<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="wang.imchao.zhuge">
    <!--需要网络权限-->
    <uses-permission
        android:name="android.permission.INTERNET"/>
    <!--需要获取网络状态-->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--获取设备唯一标识-->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"/>
    <!--获取访问用户账户名的权限用以精准匹配标签(可选)-->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"/>
</manifest>
